/* Estilos Generales y Fondo */
body {
    background-color: #121212;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #ffffff;
}

/* Contenedor del Formulario */
.login-box {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    width: 320px;
    text-align: center;
}

/* Encabezado Sign Up */
h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

/* Estilos de los Campos de Entrada */
input[type="text"],
input[type="password"],
input[type="email"] {
    /* Añadimos el tipo email para que herede los estilos */
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #333333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #242424;
    color: #ffffff;
    opacity: 0.7;
}

/* Estilos del Botón de Registro */
.login-button {
    /* Mantenemos el nombre de clase para reutilizar el estilo del botón verde */
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    /* Un poco más de margen superior */
    margin-bottom: 20px;
    transition: transform 0.2s, background-color 0.2s;
    letter-spacing: 1px;
}

.login-button:hover {
    background-color: #979797;
    transform: scale(1.02);
}

/* Estilos de los Enlaces */
.links {
    display: flex;
    justify-content: center;
    /* Centramos si solo hay un párrafo y un enlace */
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #b3b3b3;
    /* Color del texto del párrafo */
}

.links p {
    margin: 0;
}

.links a {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.2s;
}

.links a:hover {
    color: #ffffff;
}

.signup-link {
    font-weight: 500;
}

/* Responsividad */
@media (max-width: 400px) {
    .login-box {
        width: 90%;
        padding: 30px 20px;
    }

    h1 {
        font-size: 24px;
    }
}